html, body {
 margin:0;
 height:100%;   
}

header {
 height:10%;
 background-color:rgb(65,201,128);
 color:white;
}

header span {
 position:relative;
 //padding:10%;
 //line-height:100%;
}

.content {
 height:90%;
}

.main-container {
 position:relative;
 top:150px;
 width:400px;
 margin-right:auto;
 margin-left:auto;
 color:purple;
}

/* * * * * 
 * Forms *
 * * * * */

input[type="text"]{
 height:20px;
 margin:5px;
}
/* make radio buttons big and cute */
input[type="radio"] {
 height:20px;
 width:20px;
}

/* styles for gear submit button */
button[type="submit"]{
 border:none;
 background:transparent;
 cursor:pointer;
}

#gear {
 position:absolute;
 top:0;
 right:0;
 cursor:pointer;
}

/* styles for labels */
label {
 margin:5px;
 font-size:1.5em;
 font-family:sans-serif;
}

#if-student{
 display:none;
}

.intro{
 font-family:serif;
 font-size:2em;
 margin:5px;
} 

.right {
 height:100%;
 width:50%;
 float:right;
 overflow-y:scroll;
}

.left {
 width:50%;
 float:left;
 padding-top:20px;
 text-align:center;
}

.left img {
 position: relative;
 left:100px;
}

#grade-container{
 position:relative;
 width:370px;
 height:200px;
 margin-right:auto;
 margin-left:auto;
 margin-top:20px;
 margin-bottom:20px;
}

#grade-box {
 position:absolute;
 top:0;
 left:0;
 margin:0;
 height:200px;
 width:200px;
 display:inline-block;
}

#grade-radio-box {
 position:absolute;
 right:0;
 display:inline-block;
 width:150px;
 font-size:1.3em;
 font-family: sans-serif;
}

#grade-radio-box * {
 position:absolute;
 left:0;
}

.q-box {
 display:none;
 min-height:120px;
 padding:20px;
 border-bottom: 2px dashed black;
 background-color:white;
}

.user-tits {
 font-size:1.5em;
 font-family:sans-serif;
 margin-bottom:20px;
}

.mess {
 font-size:1.1em;
 font-family:serif;
}

#thegrade {
 height:300px;
 width:300px;
 line-height:100%;
 font-size:300px;
 color:black;
//background-color:green;
 margin-right:auto;
 margin-left:auto;
 margin-top:50px;
 border-radius:5px;
}